/* fonts: inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* material icons */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.material-icons {
  font-size: inherit;
}
